/*encabezado*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(90deg,
            rgba(166, 93, 234, 1) 25%,
            rgba(207, 103, 235, 1)73%);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.back {
    padding: 32px 0;
    background-color: #cf8181;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 24px;
    color: #08529d;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 10px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #1c9bef;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


/*chat*/
body {
    background-image: linear-gradient(23deg,
            hsl(49deg 100% 69%) 0%,
            hsl(16deg 80% 61%) 2%,
            hsl(330, 70%, 39%) 12%,
            hsl(259, 86%, 57%) 50%,
            hsl(212, 88%, 30%) 88%,
            hsl(197deg 100% 30%) 98%,
            hsl(183deg 79% 36%) 100%);
    height: 100vh;
}

.button {
    border: none;
    padding: 0.625em;
    border-radius: 0.5em;
    cursor: pointer;
}

.button:hover {
    filter: brightness(0.9);
}

.button:active {
    transform: translateY(2px);
}

.person-selector {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 3em auto 1em;
    max-width: 40em;
}

.person-selector-button {
    width: 100%;
    background-color: #15202b;
    color: #fff;
    font-size: 1.1em;
}

.active-person {
    background: #08529d;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}

.chat-container {
    background: #15202b;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5em;
    padding: 0.5em 1.25em;
    margin: auto;
    max-width: 37.5em;
    height: 37.5em;
    box-shadow: 0 0 1.25em 0.5em #c3c3c333;
}

.chat-header {
    margin-bottom: 1em;
    color: #fff;
}

.chat-header h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.chat-messages {
    height: 23em;
    overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

.message {
    padding: 0.625em;
    border-radius: 1em;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 0.31em;
}

.message-text {
    font-size: 1em;
    margin-bottom: 0.31em;
    word-wrap: break-word;
}

.message-timestamp {
    font-size: 0.75em;
    text-align: right;
}

.blue-bg {
    background-color: #1c9bef;
}

.gray-bg {
    background-color: #3d5365;
}

.chat-input-form {
    display: flex;
    align-items: center;
    margin-top: 2em;
    gap: 0.625em;
}

.chat-input {
    padding: 0.625em;
    border: none;
    border-radius: 0.5em;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1em;
    flex-grow: 1;
}

.send-button {
    background-color: #1c9bef;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

.clear-chat-button {
    display: block;
    margin: 2.5em auto;
}